/*css del header*/
header {
	background-image: url(large.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.negro{
	background-color: rgb(34, 40, 49);
	opacity: 0.5
}

header img {
	width: 70%;
	height: 80%;
	margin-top: 30px;
}
nav {
	margin-top: 30px;
}
header nav li {
	display: inline;
	text-align: right;
	margin-right: 40px;
}

header a {
	text-decoration: none;
	color: white
}

header h1 {
	color: white;
	padding: 140px
}

.prueba-gratuita {
	background-color: rgb(79, 120, 185);
	opacity: 0.8;
	height: 150px;
	padding: 20px
}

.prueba-gratuita h3, p{
	color: white;
}

.container-fluid input {
	background-color: transparent;
	border: 1px solid white;
	color: white;
	margin-top: 40px
}
/**/

.ejemplo, .pc, {
	padding-top: 35px;
	padding-bottom: 30px;
}
.user-testing, .pasos p{
	color: #1e1e1e;
	font-family: "Open Sans";
	font-size: 18px;
	padding: 5px;
	line-height:25px;	
}
 /*"user-testing"*/
.ejemplo h1{
	color: #68adff;	
	padding-bottom: 15px;
}
.s_uno{
	color: #0f73bb;
}
.s_dos{
	color: #4f4f4f;
}
.flecha{
	text-align: center;	
}

.watch{
	padding-top: 40px;
}

/*pasos*/

.line{
	color: #c3c3c3; 
	width: 100%;
}
.pasos1 h2{
	font-size: 26px;
	padding-bottom: 10px;
}
.pasos2 h3{
	color:#68adff;
	font-size: 20px;
}
.pasos2 p {
	font-size: 17px;
	line-height:20px;
	
}
.imagen-sec-2{
	background-image: url(../image/sec-2.jpg);
	width: 560px;
	height: 550px;
	background-size: 800px;
	background-repeat: no-repeat;
}
.pasos1{
	padding-left: 25px;

}

.icon1 li{
	list-style-type: none;
	padding-top: 70px;

}
.icon2{
	color: white; 
	font-size: 28px;
	background-color: #68adff;
	border-radius: 50px;
	position: relative;
	padding: 13px;
	margin-bottom: 20px;
}
.pasos2 li{
	font-family: "Open Sans";
	font-size: 17px;
	padding: 10px;
	line-height:12px;	
}
.separador{
	margin-left: -15px;
	padding-bottom: 30px;

}


/* Responsive }*/

@media screen and (max-width : 667px) {
	.container{
		width: 100%;
	}
	.imagen-sec-2{
		width:100%;
		background-size: 140%;
	}
	.icon1{
		visibility: hidden;
		display: none;
	}
	.col-md-6{
		width: 100%;
	}

}

@media (min-width: 668px) and  (max-width: 1024px) {
	.container{
		width: 100%;
	}
	.imagen-sec-2{
		width:100%;	
	}
	.icon1{
		visibility: hidden;
		display: none;
	}
	
}

@media (min-width: 1025px) and (max-width: 1600px){
	.container{
		width: 100%;
	}

	
}

